In [1]:
import pandas as pd
import numpy as  np
import spacy

In [4]:
nlp=spacy.load('en_core_web_sm')

In [5]:
df_list=[]

In [10]:
def entity_entractor(text):
    docx=nlp(text)
    ents_list=[(ent.text,ent.label_) for ent in docx.ents]
    df=pd.DataFrame(ents_list,columns=["Entity","Tag"])
    df_list.append(df)

In [8]:
data=pd.read_excel('property_comments.xlsx')

In [11]:
data['comment'].apply(lambda x:entity_entractor(x))

0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
8    None
9    None
Name: comment, dtype: object

In [12]:
pd.concat(df_list,axis=0)

             Entity       Tag
0          Oragadam       GPE
1  the year of 2015      DATE
2             Patta    PERSON
3  the year of 2016      DATE
4         two years      DATE
5           Reciept       ORG
0               one  CARDINAL
1                20  CARDINAL
0          Oragadam       GPE
1  the year of 2015      DATE
2             Patta    PERSON
3  the year of 2016      DATE
4         two years      DATE
5           Reciept       ORG
0           2 years      DATE
0               one  CARDINAL
1                 1  CARDINAL
0              zero  CARDINAL
1          5+ years      DATE
2           2 years      DATE
3      last 5 years      DATE
0              2016      DATE
1              2019      DATE
2             House       ORG
0   almost 4 months      DATE
1          nearly 5  CARDINAL
2              Casa       GPE
3        First City       GPE